<div class="container mt-5">
    <h1>The Menu</h1>

    <ul id="cocktails-list">
    <% @cocktails.each do |cocktail| %>
        <li>
            <%= link_to  cocktail.name, cocktail_path(cocktail) %>
        </li>
    <% end %>
    </ul>

    <%= link_to new_cocktail_path, method: "get", id: "new-cocktail-btn" do %>
        <i class="mt-3 lni lni-circle-plus"></i>
    <% end %>

</div>

