<div class="container mt-5">
    <h1>The Cocktail Book</h1>

    <ul>
    <% @cocktails.each do |cocktail| %>
        <li>
            <%= link_to  cocktail.name, cocktail_path(cocktail) %>
        </li>
    <% end %>
    </ul>

    <%= button_to "New cocktail", new_cocktail_path, method: :get %>

</div>

