<div class="container mt-5">
    <h1><%= @cocktail.name %></h1>

    <ul>
        <% @cocktail.doses.each do |dose| %>
            <li><%= dose.ingredient.name %>, <%= dose.description %></li>
        <% end %>
    </ul>

    <%= link_to "Add something", new_cocktail_dose_path(@cocktail) %>

</div>