// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.plus-btn {
    font-size: x-large;
    color: #c4c4c4;
    &:hover {
        color: white;
    }
}

#cocktails-list {
    li {
        margin: 0.5rem 0;
    }
}

.lni-trash {
    font-size: larger;
    visibility: hidden;
    opacity: 0%;
    transition: opacity 0.7s;
}

li.ingredient:hover .lni-trash {
    visibility: visible;
    opacity: 100%;
}